{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title
%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
  #note {
    font-weight: bold;
    color: #ff0000; /* Red color for emphasis */
    background-color: #ffffe0; /* Light yellow background */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .loader {
    border: 8px solid white; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;

    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  /* Spin Animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Today's Calorie Burn
                </p>
                <h5 class="font-weight-bolder mb-0">0</h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
              >
                <i class="fa fa-fire text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Your Average Heart Rate
                </p>
                <h5 class="font-weight-bolder mb-0">0 bpm</h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
              >
                <i
                  class="fa fa-heartbeat text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg col-md mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-2">
          <!-- Adjusted padding-bottom -->
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6 class="mb-1">Yoga Aasanas</h6>
            </div>
          </div>
        </div>
        <div class="card-body px-3 pb-2">
          <!-- Adjusted padding -->
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Yoga Aasanas
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Difficulty
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Start
                  </th>
                </tr>
              </thead>

              <tbody>
                {% for pose in poses %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ pose.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="w-75 mx-auto">
                      <div class="d-flex justify-content-center">
                        <span class="text-xs font-weight-bold px-2"
                          >{{ pose.level }}</span
                        >
                        <i
                          class="fa-solid fa-circle"
                          style="color: {{ pose.color }}"
                        ></i>
                      </div>
                    </div>
                  </td>
                  <td class="">
                    <div class="w-75 mx-auto">
                      <div
                        class="d-flex justify-content-center align-items-center"
                      >
                        <button
                          type="button"
                          class="btn bg-gradient-secondary w-100 mt-2 mb-2"
                          data-bs-toggle="modal"
                          data-bs-target="#poseModal"
                          id="{{loop.index0}}"
                          data-url="{{ url_for('video_feed_blueprint.analyze', pose_index=loop.index0) }}"
                        >
                          Start
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal HTML -->
  <div
    class="modal fade"
    id="poseModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="poseModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="poseModalLabel">Checking Co2 levels</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div
              class="d-flex justify-content-center align-items-center gap-2 p-3"
            >
              <div id="co2check" class="text-center h3 mr-3"></div>
              <div class="loader text-center"></div>
            </div>
          </div>
          <div id="note">Please ensure you have your smart band</div>
          <a id="startPoseButton" class="btn btn-primary w-100">Start</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var poseModal = document.getElementById("poseModal");
    var startPoseButton = document.getElementById("startPoseButton");

    poseModal.addEventListener("show.bs.modal", function (event) {
      var button = event.relatedTarget; // Button that triggered the modal
      console.log(button);
      console.log(button);
      var url = button.getAttribute("data-url");

      startPoseButton.setAttribute("disabled", true);
      
      const inter = setInterval(() => {
        document.getElementById("co2check").innerText =
          generateAvgCO2Concentration();
      }, 1000);

      setTimeout(() => {
        clearInterval(inter);
        startPoseButton.setAttribute("disabled", false);
      }, 10000);

      fetch("{{ url_for('video_feed_blueprint.start_session') }}")
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Redirect to the analyze route with session initialized
            startPoseButton.setAttribute("href", url);
          } else {
            alert("Failed to start session.");
          }
          console.log(data)
        })
        .catch((error) => {
          console.error("Error starting session:", error);
        });
    });

    function generateAvgCO2Concentration() {
      // Average CO2 concentration in air is around 400 to 450 ppm
      const average = Math.floor(Math.random() * 100) + 400;
      const variation = Math.random() * (10 + 10) - 10; // Small variation of +/- 10 ppm
      return Math.round((average + variation) * 100) / 100;
    }

    // Add event listener for the close button to ensure the modal hides correctly
    var closeModalButton = poseModal.querySelector(".close");
    closeModalButton.addEventListener("click", function () {
      poseModal.classList.remove("show");
      poseModal.style.display = "none";
      document.body.classList.remove("modal-open");
      document.querySelector(".modal-backdrop").remove();
    });
  });
</script>

{% endblock javascripts %}
